html{
}


body{
}


p{
font-family: Helvetica , Arial, "Helvetica Neue", sans-serif;
max-width:1300px;
margin:20px;
border-radius:2px;
box-sizing:border-box;
padding:4px;
text-align:right;
}


a:link {color:#58ACFF;}      /* unvisited link */
a:visited {color:#69BDFF;}  /* visited link */
a:hover {color:#58ACFF;}  /* mouse over link */
a:active {color:#58ACFF;}  /* selected link */

a{
text-decoration:none;
}
